/* Header Styling */
header {
  height: 17rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #a3d6e9;
}

.headerImage {
  position: relative;
  top: 0;
  background-size: cover;
  background-position: center;
}

.header-title{
  margin: 90px 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  z-index: 1;
}

header span {
  font-family: "Lobster Two", cursive;
  font-size: 4rem;
  color: deeppink;
}

header .teardrop {
  height: 2rem;
}

/* Header styling for breakpoints */
@media only screen and (max-width: 768px) {
  header {
    height: 5rem; 
  }

  header span {
    font-family: "Lobster Two", cursive;
    font-size: 3rem;
  }

  header img {
    height: 1.25rem;
  }
}

@media only screen and (max-width: 480px) {
  header {
    height: 4rem;
  }

  header span {
    font-family: "Lobster Two", cursive;
    font-size: 2.15rem;
  }

  header img {
    height: 0.90rem;
  }
}

/* Footer Styling */
footer{
  background-color: rgb(44 37 37);
  height: 3rem;
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
}

.footer-Nav .nav-item a {
  color: white;
  padding: 10px;
  display: block;
  font-weight: bold;
  text-decoration: none;
}

.footer-Nav{
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

.footer-Nav-NavItems{
  display: flex;
  justify-content: space-between;
}

.footer-Nav-NavItem{
  padding: 0 20px 0 20px;
}

/* error page styling */
.error {
  display: flex;
  justify-content: center;
  background-color: rgb(1.25, 1.25, 1.25);
  height: auto;
  padding: 20px 50% 20px 50%;
}

.error img{
  height: 32rem;
}

/* error styling for breakpoints */
@media only screen and (max-width: 768px) {
  .error img{
    height: 22rem; 
  }
}

@media only screen and (max-width: 578px) {
  .error img{
    height: 15rem;
  }
}

@media only screen and (max-width: 480px) {
  .error img{
    height: 10rem;
  }
}

/* CatIndex styling */

.catindex-container{
  padding: 35px;
}

/* CatShow Styling */
.catshow-container{
  padding: 35px;
}

/* Cat form styling */
.catform-container{
  margin: 20px 100px 0 100px;
}

.catform-container label{
  margin: 20px 0 0 0;
}

/* built in styling from react */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
